* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
  background-color: #31322f;
  color: #ffffff;
}

.header {
  position: relative;
}
.header__container {
  padding-top: 48px;
  color: #fffff6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  border-bottom: 1px solid #fffff6;
  padding-bottom: 58px;
}
.header__logo {
  font-size: 24px;
  margin-left: 82px;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-top: 5px;
}
.header__logo::before {
  content: url("../img/7.svg");
  display: inline-block;
}
.header__nav {
  font-size: 30px;
  word-spacing: 0px;
  padding-right: 22px;
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin-right: 360px;
  margin-top: 6px;
  font-size: 24px;
}
.header__nav-item {
  margin: 0px 55px 0px 28px;
}
.header__nav-link {
  text-decoration: none;
  color: #fffff6;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
}
.header__nav-link:hover {
  color: #00ffcc;
}

.burger {
  display: none;
  position: relative;
  z-index: 2000;
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger span {
  display: block;
  height: 3px;
  background-color: #fffff6;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.contacts {
  color: #fffff6;
  background-color: #4f504d;
  padding-bottom: 40px;
}
.contacts__title {
  font-size: 66px;
  font-weight: 650;
  padding-top: 45px;
  padding-left: 80px;
  letter-spacing: 2px;
}
.contacts__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 86px;
  padding-top: 49px;
}
.contacts__info {
  flex: 1 1 300px;
}
.contacts__block {
  line-height: 28px;
  margin-bottom: 69px;
}
.contacts__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.contacts__subtitle h2 {
  font-weight: bold;
}
.contacts__text {
  font-size: 24px;
  font-weight: normal;
}
.contacts__text a {
  text-decoration: none;
  color: #fffff6;
}
.contacts__map {
  flex: 1 1 600px;
  max-width: 654px;
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
}

.footer .footer__top {
  align-items: center;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #161616;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 59px;
}
.footer__list {
  list-style: none;
  display: flex;
  gap: 103px;
  margin: 0;
  padding-right: 143px;
  padding-bottom: 10px;
}
.footer__item a:hover {
  color: #40413e;
}
.footer__link {
  text-decoration: none;
  color: #4f504d;
  font-size: 26px;
  font-weight: bold;
}
.footer__bottom {
  background-color: #161616;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #222;
  display: flex;
  padding: 65px 200px 55px 118px;
  justify-content: space-between;
}
.footer__copyright {
  justify-self: start;
  color: #31322f;
  font-size: 24px;
  font-weight: bold;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer__logo {
  width: 161px;
  padding-left: 10px;
}
.footer__icon img {
  width: 26px;
}

@media (max-width: 1200px) {
  .products__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .products__item {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .header__nav-list {
    margin-right: 0;
    gap: 30px;
  }

  .hero__title {
    font-size: 80px;
  }

  .installment__item {
    width: 700px;
  }
  .installment__cards {
    padding: 10px;
  }
  .installment__text {
    font-size: 28px;
  }

  .promo-card__content {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 40px auto;
  }
  .promo-card__item {
    font-size: 32px;
  }
  .promo-card__list {
    gap: 60px;
  }
  .promo-card__image {
    width: 100%;
    margin-right: 0px;
    margin-left: 60px;
  }
  .promo-card__title {
    font-size: 55px;
  }
  .promo-card__title span {
    font-size: 40px;
  }

  .footer__list {
    gap: 15px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .header__nav {
    font-size: 20px;
    padding: 0px;
  }
  .header__logo {
    margin: 0px;
    justify-self: center;
  }

  .hero__title {
    font-size: 80px;
  }

  .contacts__content {
    flex-direction: column;
    padding-left: 0px;
    gap: 30px;
  }

  .footer__list .footer__list {
    gap: 40px;
    padding-right: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: right 0.4s ease;
    z-index: 999;
  }

  .menu-toggle:checked ~ .header__nav {
    left: 0;
  }

  .menu-toggle:checked + .burger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle:checked + .burger span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .burger span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .header__nav-list {
    flex-direction: column;
    gap: 2rem;
    margin-left: 0;
  }

  .header__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .contacts {
    margin-bottom: 0px;
  }

  .contacts__title {
    font-size: 36px;
    padding-left: 30px;
  }

  .contacts__content {
    padding: 20px;
    gap: 20px;
  }

  .contacts__text {
    font-size: 18px;
  }

  .contacts__block {
    margin: 0px;
    line-height: 40px;
  }

  .contacts__map {
    flex: none;
    justify-items: center;
  }

  .footer__container {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .footer__list {
    flex-direction: column;
    gap: 20px;
    padding-right: 0;
    padding-bottom: 0;
  }
  .footer__link {
    font-size: 20px;
  }
  .footer__bottom {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 20px;
  }
  .footer__copyright {
    font-size: 18px;
  }
  .footer__logo {
    padding-left: 0;
  }
  .footer__icon img {
    width: 20px;
  }
  .footer__socials {
    justify-content: center;
  }
}
.menu-toggle {
  display: none;
}

.container_h {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}