@import "../base/mixins";

.about {

    &__container {
        @include container();
        padding: 84px 81px 0px 81px;

    }

    &__layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 40px;
        row-gap: 6px;
        font-size: 26px;

    }



    &__content {
        grid-column: 1 / 3;


        strong {
            color: rgba(0, 166, 133, 1);
            font-weight: normal;
        }

        & p:nth-of-type(1) {

            line-height: 32.5px;


        }
    }

    &__intro {
        grid-column: 1;

        p {

            strong {
                color: rgba(0, 166, 133, 1);
                font-weight: normal;
            }

        }

        & p:nth-of-type(1) {

            line-height: 33px;
            letter-spacing: 0.3px;

        }

        & p:nth-of-type(2) {

            margin-top: 28px;
            line-height: 32px;
        }
    }

    &__intro {
        grid-column: 1;
        grid-row: 1;
    }

    &__image-wrapper {
        grid-column: 2;
        grid-row: 1;
    }

    &__content {
        grid-column: 1 / 3;
        grid-row: 2;


        & p:nth-of-type(3) {

            line-height: 34px;

        }

        & p:nth-of-type(4) {

            margin-top: 26px;

        }
    }

    &__title {
        font-size: 64px;
        margin-bottom: 28px;
        font-weight: normal;
        letter-spacing: 2px;
    }


    &__highlight {
        font-weight: 600;
        font-size: 34px;
        background-color: rgba(0, 166, 133, 1);
        border-radius: 30px;
        padding: 6px 26px 2px 11px;
        word-spacing: 2.4px;

        &--green {
            color: rgba(255, 255, 255, 1);
        }
    }

    &__emphasis {

        font-size: 18px;
        font-weight: bold;
        margin-top: 96px;
        margin-bottom: 63px;
    }


    &__image {


        border-radius: 8px;
        object-fit: cover;
        margin-top: 8px;

        &-wrapper {
            grid-column: 2;
            margin-left: 0;

        }

    }

    .about__button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 134px;
        padding-bottom: 133px;
    }


    .button--bottom {
        @include button();
        // width: 220px; 
        text-align: center;
        justify-content: center;
        color: rgba(255, 255, 246, 1);
        font-size: 26px;
        font-weight: 500;
        text-decoration: none;
        position: relative;
        padding: 0px 68px 16px 76px;
        margin-left: 26px;

        &::before {
            @include button_before();
            position: absolute;
            left: 13px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            background-color: rgb(23, 68, 58);
            color: #ffffff;
        }



        span {
            margin-top: 6px;
        }
    }

}

