

.products {
    &__container {
        margin: 0 auto;
        padding: 0;
        max-width: 1440px;
        //min-height: 109.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: #31322f;
    }

    &_title {
        color: rgba(255, 255, 246, 1);
        text-align: center;
        font-size: 75px;
        font-weight: lighter;
        margin-top: 45px;

        &::before {
            content: "Лучшие ";
            color: #00a685;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 68px;
        margin-top: 65px;
        margin-bottom: 118px;

    }

    &__item {
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0px 44px 30px 38px;
        flex: 1 1 300px;
        max-width: 400px;
        font-size: 22px;
        margin-top: 11px;
        // margin: 11px 10px 12px 13px;
        transition: transform 0.3s;
        background-color: rgba(255, 255, 246, 1);
        display: flex;
        flex-direction: column;
        line-height: 36px;

        &:hover {
            transform: translateY(-5px);
        }
    }

    &__image {
        max-height: 300px;
    }

    &__title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        flex-grow: 1;
        color: #31322f;
        font-weight: bold;

        &_item {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 280px;
            text-align: left;

            h4 {
                font-size: 18px;
                margin-top: 2px;
            }

            h3 {
                font-size: 24px;
                margin-top: 6px;
                line-height: 140%;
            }


        }
    }

}