
@media (max-width: 1440px) {
    .products__items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }



    .header__nav-list {
        margin-right: 0;
        gap: 30px;
    }

    .promo-card__content {
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 40px auto;
    }

    .installment__item {
        width: 700px;
    }
}


@media (max-width: 1200px) {

    .products {
        &__items {
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
        }

        &__item {
            flex: 1 1 45%;
            max-width: 45%;
        }
    }

    .header {
        .container_h {
            min-height: 70vh;
        }

        &__nav-list {
            margin-right: 0;
            gap: 20px;
        }
    }


    .hero__title {
        font-size: 80px;
    }


    .installment {
        &__item {
            width: 700px;
        }

        &__cards {
            padding: 10px;
        }

        &__text {
            font-size: 28px;

        }

    }

    .promo {
        &-card {
            &__content {
                grid-template-columns: 1fr 1fr;
                width: 90%;
                margin: 40px auto;

            }

            &__item {
                font-size: 32px;
            }

            &__list {
                gap: 60px;

            }

            &__image {
                width: 100%;
                margin-right: 0px;
                margin-left: 60px;

            }

            &__title {
                font-size: 55px;

                span {
                    font-size: 40px;
                }
            }
        }

    }


}


@media(max-width: 1040px) {

    .header {
        &__container {
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__nav {
            font-size: 20px;
            padding: 0px;
        }
    }


    .hero__title {
        font-size: 80px;
    }

    .products {
        &__items {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        &__item {
            width: 100%;
            max-width: 600px;
        }
    }

    .promo-card__list {

        gap: 40px;
    }

    .footer__list {
        gap: 40px;
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media (max-width: 768px) {



    .header {

        .container_h {
            height: 85vh;
            min-height: unset;
        }



        &__container {
            flex-direction: column;
            padding: 1rem;
            align-items: flex-start;

        }

        &__logo {
            margin-left: 0;
        }

        &__nav {
            position: fixed;
            top: 0;
            left: -100%;
            width: 70%;
            height: 100%;
            background-color: rgba(22, 22, 22, 0.95);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: right 0.4s ease;
            z-index: 1000;
        }

        &__nav-list {
            flex-direction: column;
            gap: 2rem;
        }

        &__nav-link {
            font-size: 24px;
        }

        &__nav {
            font-size: 20px;
            padding: 0px;
            margin: 0px;
        }



        &__nav-item {
            margin-left: 1rem;
            margin-right: 1rem;
        }

    }



    .burger {
        display: flex;
        position: relative;
        margin-left: 20px;
    }




    .menu-toggle:checked~.header__nav {
        left: 0;
    }


    .menu-toggle:checked+.burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle:checked+.burger span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.burger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }


    .hero {
        &__title {
            font-size: 50px;
            margin-left: 20px;
            margin-top: 100px;
            line-height: 100px;
        }

        &__h2 {
            font-size: 16px;
            margin-left: 20px;
            margin-top: 50px;
        }
    }



    .button {
        display: flex;
        align-self: center;
        width: 50%;
        height: 40%;
        font-size: 18px;
        margin: 0px;

    }

    .button::before {
        width: 15%;
        margin-left: 8px;
    }

    .open-modal {
        font-size: 18px !important;
    }

    .products {

        &__container {
            flex-direction: column;
            padding: 1rem;
        }

        &_title {
            font-size: 40px;
            margin-top: 20px;
        }

        &__items {
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        &__item {
            margin: 1rem 0;
            font-size: 18px;
            padding: 0px 20px 20px 20px;
        }

        &__title_item {

            h4 {
                font-size: 14px;
            }

            h3 {
                font-size: 20px;
            }
        }

        &__button {
            width: 200px;
            margin: 20px 20px 10px;

            a {
                font-size: 20px;
            }
        }
    }

    .installment {
        &_title {
            font-size: 40px;
            margin-top: 30px;
        }

        &__cards {
            padding: 17px 30px 52px 30px;
            margin-bottom: 50px;
        }

        &__subtitle {
            font-size: 36px;
        }

        &__item {
            width: 100%;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px 8px 0px;
        }

        &__number {
            margin: 0 0 0 20px;
            // margin: 8.3px 0px 9px 20px;
        }

        &__text {
            font-size: 24px;
            margin-left: 20px;
            margin-top: 10px;
        }
    }



    .promo-card {

        &__title {

            font-size: 35px;
            padding: 30px 0px 0px 30px;
            line-height: 40px;

            span {
                font-size: 24px;
                display: flex;
                flex-wrap: wrap;
                width: 400px;
            }


        }

        &__item--button {
            //display: flex;
            align-items: center;
            margin: 0px;
            justify-items: center;
        }

        &__content {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 16px !important;
            margin: 20px 50px 50px 50px;
            width: auto;
            padding-bottom: 30px;
        }

        &__image {
            width: 80%;
            max-width: 300px;
            margin: 20px auto 0 auto;
            display: block;
        }


        &__list {

            gap: 20px;
            width: 80%;
            margin: 0px;
            padding: 10px;
        }

        &__item {
            font-size: 18px;
        }

        .promo__button 
        {
            margin:0px;
            width:150px;
        }

         .promo__button::before
        {
           
            width:30px;
        }

    }



    .button {
        width: 200px;
        margin: 0px;
        font-size: 20px;

        a {
            margin-left: 10px;
            font-size: 20px;
        }
    }

    .footer {
        &__container {
            flex-direction: column;
            padding: 2rem 1rem;
        }

        &__list {
            flex-direction: column;
            gap: 20px;
            padding-right: 0;
            padding-bottom: 0;
        }

        &__link {
            font-size: 20px;
        }

        &__bottom {
            flex-direction: column;
            padding: 2rem 1rem;
            gap: 20px;
        }

        &__copyright {
            font-size: 18px;
        }

        &__logo {
          
            padding-left: 0;
        }

        &__icon img {
            width: 20px;
        }

        &__socials {

            justify-content: center;
        }
    }

}

@media (max-width:480px)
{
    .hero 
    {
        &__image {
        width: 100%;
        height: auto;
    }

    &__title 
    {
        margin:0px;
        line-height: 66px;
    }
    }

    

    .installment 
    {
        &__text 
        {
            font-size:18px;
            margin:0px;
        }

        &__number 
        {
            width:10%;
        }
    }

    .promo
    {
        &-card
        {
        &__title span 
        {
            width:320px;
        }
    }

   
    }
     .promo__button
    {
        width:150px;

        a 
        {
            margin: 0px;
            font-size: 16px;
        }
    }
    
}


