
@media (max-width:1440px) {

    .header {


        &__nav-list {
            margin-right: 0;
            gap: 25px;
        }
    }


    .hero__title {
        font-size: 80px;
    }



}


@media (max-width:1200px) {

    .header {


        &__nav-list {
            margin-right: 0;
            gap: 25px;
        }
    }


    .hero__title {
        font-size: 80px;
    }

    .about {
        &__layout {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        &__intro p {
            font-size: 24px;
        }

        &__image-wrapper {
            grid-column: 1;
            grid-row: 2;
            display: flex;
            justify-content: center;
        }

        &__image {
            width: 90%;
        }

        &__content {
            grid-column: 1;
            grid-row: 3;
            font-size: 22px;

        }

        &__title {
            font-size: 40px;
        }

        &__emphasis {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__button-wrapper {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }

        .button--bottom {
            margin-left: 0px;
            padding: 12px;


            span {
                margin-top: 0px;
                margin-left: 34px;
                font-size: 20px;
            }

            &::before {
                width: 25%;
            }
        }
    }

    .footer {
        .footer__list {
            gap: 15px;

        }

        .footer__link {
            font-size: 24px !important;
        }
    }



}




@media (max-width: 1024px) {

    .header {
        &__container {
            justify-content: center;
            flex-wrap: wrap;
            gap: 25px;
        }

        &__nav {
            font-size: 20px;
            padding: 0px;
        }

        &__logo {
            margin: 0px;
            justify-self: center;
        }


    }


    .hero__title {
        font-size: 80px;
    }

    .about {
        &__intro p {
            font-size: 22px;
        }

        &__title {
            font-size: 36px;
        }

        &__highlight {
            font-size: 22px;
        }
    }


}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        background-color: rgba(22, 22, 22, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: right 0.4s ease;
        z-index: 999;
    }

    .menu-toggle:checked~.header__nav {
        left: 0;
    }

    .menu-toggle:checked+.burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle:checked+.burger span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.burger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .header__nav-list {
        flex-direction: column;
        gap: 2rem;
        margin-left: 0;
    }

    .header__container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .about {
        &__title {
            font-size: 32px;
        }

        &__highlight {
            font-size: 18px;
            padding: 0px;
            background-color: none !important;
        }

        &__button-wrapper {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &__container {
            padding: 20px;
        }

        &__intro p {
            font-size: 20px;
        }



        &__highlight {
            font-size: 18px;
        }

        &__button-wrapper {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

        .button--bottom {
            margin-left: 0px;
            padding: 12px;


            span {
                margin-top: 0px;
                margin-left: 34px;
                font-size: 20px;
            }

            &::before {
                width: 22%;
            }
        }
    }

    .footer {
        &__container {
            flex-direction: column;
            padding: 2rem 1rem;
        }

        &__list {
            flex-direction: column;
            gap: 20px;
            padding-right: 0;
            padding-bottom: 0;

        }



        &__bottom {
            flex-direction: column;
            padding: 2rem 1rem;
            gap: 20px;
        }

        &__copyright {
            font-size: 18px;
        }

        &__logo {
            // width: 120px;
            padding-left: 0;
        }

        &__icon img {
            width: 20px;
        }

        &__socials {

            justify-content: center;
        }
    }
}