

@media (max-width: 1200px) {
  .header {


    &__nav {


      &-list {
        margin-right: 0px;
      }
    }
  }

  .catalog {

    padding: 20px;

    &__grid {
      margin: 0px;
    }
  }

  .product {
    &__title {
      font-size: 20px;
    }
  }

  .footer {
    &__list {
      padding-right: 0px;
    }

    &__link {
      font-size: 24px;
    }
  }
}



@media (max-width: 1024px) {
  .header {
    &__container {
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__nav {
      font-size: 20px;
      padding: 0px;

      &-list {
        margin-right: 0px;
      }
    }

    &__logo {
      margin: 0px;
      justify-self: center;
    }
  }



  .hero__title {
    font-size: 80px;
  }

  .catalog {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
      margin: 0px;
    }

    .product__title {
      font-size: 20px;
    }
  }

  .search {
    &__form {
      gap: 27px;
    }

    &__input {
      width: 580px;
      padding: 10px;
    }

    &__button {
      padding: 10px;
      font-size: 22px;
    }
  }

  .footer {
    &__list {
      gap: 40px;
      padding-right: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__link {
      font-size: 20px;
    }
  }



}

@media (max-width: 768px) {

  .header {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;

    }

    &__logo {
      margin-left: 0;
    }

    &__nav {
      position: fixed;
      top: 0;
      left: -100%;
      width: 70%;
      height: 100%;
      background-color: rgba(22, 22, 22, 0.95);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: left 0.4s ease;
      z-index: 1000;
    }

    &__nav-list {
      flex-direction: column;
      gap: 2rem;
      margin: 0px;
    }

    &__nav-link {
      font-size: 24px;
    }

    &__nav {
      font-size: 20px;
      padding: 0px;
      margin: 0px;
    }



    &__nav-item {
      margin-left: 1rem;
      margin-right: 1rem;
    }

  }

  

  .burger {
    display: flex;
    position: relative;

  }

  .burger span {
    transition: all 0.3s ease;
  }


  .menu-toggle:checked~.header__nav {
    left: 0;
  }


  .menu-toggle:checked+.burger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle:checked+.burger span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked+.burger span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .search {
    &__input {
      margin-left: 30px;
      width: 460px;
    }

    &__button {
      font-size: 18px;
      padding: 15px;
      margin-right: 0px;
    }

    &__form {
      margin: 20px;
      align-items: stretch;
      gap: 12px;
    }

    &__container {
      justify-content: center;
    }

    &__button-text {
      display: none;
    }

  }

  .catalog {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      margin: 0px;
    }

    .product__title {
      font-size: 20px;
    }
  }

  .footer {
    &__container {
      flex-direction: column;
      padding: 2rem 1rem;
    }

    &__list {
      flex-direction: column;
      gap: 20px;
      padding-right: 0;
      padding-bottom: 0;
    }

    &__link {
      font-size: 20px;
    }

    &__bottom {
      flex-direction: column;
      padding: 2rem 1rem;
      gap: 20px;
    }

    &__copyright {
      font-size: 18px;
    }

    &__logo {
      // width: 120px;
      padding-left: 0;
    }

    &__icon img {
      width: 20px;
    }

    &__socials {

      justify-content: center;
    }
  }

}

@media (max-width: 576px) {

  .search {

    &__form {
      margin: 0px;
    }


    &__input {
      width: 100%;
      font-size: 20px;
    }
  }

  .catalog {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      margin: 0px;
    }
  }
}