@charset "UTF-8";
.header {
  position: relative;
}
.header .container_h {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  min-height: 108vh;
  display: flex;
  flex-direction: column;
  background-image: url("../img/Фотозаднегоплана.svg");
}
.header__container {
  padding-top: 46px;
  color: #fffff6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}
.header__logo {
  font-size: 24px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.header__logo::before {
  content: url("../img/7.svg");
  display: inline-block;
}
.header .menu-toggle {
  display: none;
}
.header__nav {
  font-size: 30px;
  word-spacing: 0px;
  padding-right: 22px;
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin-right: 369px;
  margin-top: 6px;
  font-size: 24px;
}
.header__nav-item {
  margin: 0px 55px 0px 28px;
}
.header__nav-link {
  text-decoration: none;
  color: #fffff6;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
}
.header__nav-link:hover {
  color: #00ffcc;
}