.modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;


    &:target {
        opacity: 1;
        visibility: visible;
    }


    &__content {
        background-color: rgba(255, 255, 246, 1);
        color: #31322f;
        padding: 40px 60px;
        border-radius: 20px;
        max-width: 600px;
        width: 90%;
        text-align: left;
        position: relative;
        transform: translateY(-20px);
        transition: transform 0.3s ease;
    }

    &:target .modal__content {
        transform: translateY(0);
    }


    &__close {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 30px;
        text-decoration: none;
        color: #00a685;
        font-weight: bold;
        transition: color 0.3s;
    }

    &__close:hover {
        color: rgb(23, 68, 58);
        ;
    }


    &__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.6;
    }

    &-modal {
        text-decoration: none;
        color: rgba(255, 255, 246, 1);

        &:hover {

            text-decoration: none;
        }
    }



}


.installment__item {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.installment__item.visible {
    opacity: 1;
    transform: translateY(0);
}