.burger {
    display: none;
    position: relative;
    z-index: 2000;
    width: 30px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
        display: block;
        height: 3px;
        background-color: rgba(255, 255, 246, 1);
        border-radius: 3px;
        transition: all 0.3s ease;
    }
}


