@import "../base/mixins";

.catalog {
    padding: 40px 60px 157px;

    &__container {

        @include container();

    }

    &__grid {
        background-color: rgba(31, 31, 30, 1);
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        margin-right: 35px;
        margin-left: 35px;
        padding-bottom: 20px;

        border: 1px solid #4f504d;



    }

}