
.stars-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
}


.stars-container div {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 8px #a0e0ff;
  opacity: 0.8;
  animation: fall linear infinite, twinkle linear infinite;
}



.stars-container div.small {
  width: 3px;
  height: 3px;
}

.stars-container div.medium {
  width: 5px;
  height: 5px;
}

.stars-container div.large {
  width: 7px;
  height: 7px;
}

.stars-container div:nth-child(1) {
  left: 5%;
  animation-duration: 25s;
  animation-delay: 0s;
}

.stars-container div:nth-child(2) {
  left: 15%;
  animation-duration: 20s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(3) {
  left: 25%;
  animation-duration: 22s;
  animation-delay: 1s;
}

.stars-container div:nth-child(4) {
  left: 35%;
  animation-duration: 27s;
  animation-delay: 1.5s;
}

.stars-container div:nth-child(5) {
  left: 45%;
  animation-duration: 30s;
  animation-delay: 2s;
}

.stars-container div:nth-child(6) {
  left: 55%;
  animation-duration: 26s;
  animation-delay: 2.5s;
}

.stars-container div:nth-child(7) {
  left: 65%;
  animation-duration: 28s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(8) {
  left: 75%;
  animation-duration: 24s;
  animation-delay: 1.5s;
}

.stars-container div:nth-child(9) {
  left: 85%;
  animation-duration: 29s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(10) {
  left: 95%;
  animation-duration: 23s;
  animation-delay: 0s;
}

.stars-container div:nth-child(1) {
  left: 5%;
  animation-duration: 25s;
  animation-delay: 0s;
}

.stars-container div:nth-child(2) {
  left: 15%;
  animation-duration: 20s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(3) {
  left: 25%;
  animation-duration: 22s;
  animation-delay: 1s;
}

.stars-container div:nth-child(4) {
  left: 35%;
  animation-duration: 27s;
  animation-delay: 1.5s;
}

.stars-container div:nth-child(5) {
  left: 45%;
  animation-duration: 30s;
  animation-delay: 2s;
}

.stars-container div:nth-child(6) {
  left: 55%;
  animation-duration: 26s;
  animation-delay: 2.5s;
}

.stars-container div:nth-child(7) {
  left: 65%;
  animation-duration: 28s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(8) {
  left: 75%;
  animation-duration: 24s;
  animation-delay: 1.5s;
}

.stars-container div:nth-child(9) {
  left: 85%;
  animation-duration: 29s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(10) {
  left: 95%;
  animation-duration: 23s;
  animation-delay: 0s;
}

.stars-container div:nth-child(11) {
  left: 20%;
  animation-duration: 25s;
  animation-delay: 0s;
}

.stars-container div:nth-child(12) {
  left: 18%;
  animation-duration: 20s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(13) {
  left: 14%;
  animation-duration: 22s;
  animation-delay: 1s;
}

.stars-container div:nth-child(14) {
  left: 38%;
  animation-duration: 27s;
  animation-delay: 1.5s;
}

.stars-container div:nth-child(15) {
  left: 40%;
  animation-duration: 30s;
  animation-delay: 2s;
}

.stars-container div:nth-child(16) {
  left: 58%;
  animation-duration: 26s;
  animation-delay: 2.5s;
}

.stars-container div:nth-child(17) {
  left: 62%;
  animation-duration: 28s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(18) {
  left: 74%;
  animation-duration: 24s;
  animation-delay: 1.5s;
}

.stars-container div:nth-child(19) {
  left: 86%;
  animation-duration: 29s;
  animation-delay: 0.5s;
}

.stars-container div:nth-child(20) {
  left: 9%;
  animation-duration: 23s;
  animation-delay: 0s;
}


@keyframes fall {
  0% {
    transform: translateY(-20px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}