@mixin button {
    background-color: rgba(29, 86, 74, 1);
    color: rgba(255, 255, 246, 1);
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;

}

@mixin button_before {
    background-image: url('../img/Стрелка в кнопке.svg');
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


}

@mixin container {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
}

@mixin burger-menu($checkbox, $burger) {
    #{$checkbox}:checked+#{$burger} span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #{$checkbox}:checked+#{$burger} span:nth-child(2) {
        opacity: 0;
    }

    #{$checkbox}:checked+#{$burger} span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}